* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  width:80%
}

.craftWrapper {
  display: inline-block;
  vertical-align: top;
  // width: 28%;
  // height: 400px;
  // overflow: auto;
  // margin-right: 70px;
  margin-top: 70px;
  border: 1px solid #999;
  padding: 10px;
  box-shadow: 1px 1px 20px #ccc;
  border-radius: 5px;
  // &:nth-child(3n) {
  //   margin-right: 0;
  // }
  h1 {
    text-decoration: underline;
    margin-top: 10px;
    font-size: 20px;
  }
}
