
<div class="singleCraftWrapper">
  <div class="singleImgWrapper">
    <img ng-src="{{ craft.MainImage.url_fullxfull }}" alt="" />
  </div>
  <div class="listingData">
    <a ng-href="{{ craft.url }}"><h3>{{ craft.title }}</h3></a>
    <p><b>Materials: </b>{{ craft.materials.toString() }}</p>
    <h4><b>Price: </b>{{ craft.price }}</h4>
    <button type="button" class="btn btn-med btn-primary"name="button">Add to Cart</button>
  </div>
  <p class="description"><b>Description: </b>{{ craft.description }}</p>
</div>
